---
title: Software
---

<article class="primary">
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  <content>
    <p>I write code for money, and sometimes for fun. These are some things I've worked on that might be useful to other people. If you use my natural history software, please <a href="https://patreon.com/kueda?utm_medium=web&utm_source=work&utm_campaign=creatorshare_creator&utm_content=support-me-on-patreon">support me on Patreon</a> if you can.</p>
  </content>
</article>

{% for item in site.data.software %}
  {% include post_snippet.html post=item %}
{% endfor %}
